 body {
   font-family: "Amazon Ember-Medium", Helvetica;
   background-color: white;
   width: 100%;
   padding: 0;
   margin: 0;
 }

 .home {
   background-color: #eaeded;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
 }

 .home .div {
   background-color: #eaeded;
   overflow: hidden;
   width: 100%;
   height: 1650px;
   position: relative;
 }

 .home .nav {
   position: absolute;
   width: 100%;
   height: 99px;
   top: 0;
   left: 0;
   background-color: #252f3d;
 }

 .home .top-header {
   position: absolute;
   width: 100%;
   height: 60px;
   top: 0;
   left: 0;
   background-color: #141920;
 }

 .home .frame {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 45px;
   position: relative;
   top: 10px;
   left: 16px;
 }

 .home .amazon {
   position: relative;
   width: 100px;
   height: 30px;
 }

 .home .frame-2 {
   position: relative;
   width: 139px;
   height: 35px;
 }

 .home .location {
   position: absolute;
   width: 16px;
   height: 16px;
   top: 8px;
   left: 0;
 }

 .home .text-wrapper {
   position: absolute;
   top: -1px;
   left: 22px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 12px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .text-wrapper-2 {
   position: absolute;
   top: 17px;
   left: 20px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-white);
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .search {
   position: relative;
   width: 1011px;
   height: 40px;
   background-color: var(--primary-white);
   border-radius: 4px;
   overflow: hidden;
 }

 .home .search-icon {
   position: absolute;
   width: 45px;
   height: 40px;
   top: 0;
   left: 965px;
   background-color: var(--secondary-yellow);
   border-radius: 0px 4px 4px 0px;
   overflow: hidden;
 }

 .home .img {
   position: absolute;
   width: 24px;
   height: 24px;
   top: 8px;
   left: 11px;
 }

 .home .left {
   position: absolute;
   width: 52px;
   height: 40px;
   top: 0;
   left: 0;
   background-color: #f3f3f3;
   border-radius: 4px 0px 0px 4px;
   overflow: hidden;
 }

 .home .text-wrapper-3 {
   position: absolute;
   top: 12px;
   left: 9px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-black);
   font-size: 12px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .down {
   position: absolute;
   width: 12px;
   height: 12px;
   top: 14px;
   left: 30px;
 }

 .home .country {
   position: relative;
   width: 36px;
   height: 20px;
 }

 .home .india {
   position: absolute;
   width: 20px;
   height: 20px;
   top: 0;
   left: 0;
 }

 .home .down-2 {
   position: absolute;
   width: 8px;
   height: 8px;
   top: 6px;
   left: 28px;
 }

 .home .frame-wrapper {
   position: relative;
   width: 125px;
   height: 35px;
 }

 .home .frame-3 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   position: relative;
 }

 .home .personal {
   width: 105px;
   position: relative;
   height: 35px;
 }

 .home .text-wrapper-4 {
   position: absolute;
   top: -1px;
   left: 0;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 12px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .text-wrapper-5 {
   position: absolute;
   top: 17px;
   left: 0;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-white);
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .down-3 {
   position: relative;
   width: 8px;
   height: 8px;
 }

 .home .div-wrapper {
   position: relative;
   width: 78px;
   height: 35px;
 }

 .home .personal-2 {
   width: 58px;
   position: relative;
   height: 35px;
 }

 .home .cart {
   position: relative;
   width: 52px;
   height: 24px;
 }

 .home .shopping-cart {
   position: absolute;
   width: 24px;
   height: 24px;
   top: 0;
   left: 0;
   background-image: url(./img/layer-2.png);
   background-size: 100% 100%;
 }

 .home .text-wrapper-6 {
   position: absolute;
   top: -5px;
   left: 9px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: #ff9900;
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .text-wrapper-7 {
   position: absolute;
   top: 6px;
   left: 24px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-white);
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .navbar {
   display: inline-flex;
   align-items: flex-start;
   gap: 24px;
   position: absolute;
   top: 71px;
   left: 16px;
 }

 .home .all {
   display: inline-flex;
   align-items: flex-start;
   gap: 4px;
   position: relative;
   flex: 0 0 auto;
 }

 .home .hamburger {
   position: relative;
   width: 16px;
   height: 16px;
 }

 .home .text-wrapper-8 {
   position: relative;
   width: 18px;
   height: 15px;
   margin-top: -1px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-white);
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .text-wrapper-9 {
   position: relative;
   width: fit-content;
   margin-top: -1px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-white);
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .prime {
   display: inline-flex;
   align-items: flex-end;
   justify-content: center;
   gap: 8px;
   position: relative;
   flex: 0 0 auto;
 }

 .home .down-4 {
   position: relative;
   width: 12px;
   height: 12px;
 }

 .home .img-2 {
   position: absolute;
   width: 400px;
   height: 39px;
   top: 60px;
   left: 1040px;
   background-color: #232f3f;
 }

 .home .frame-4 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 9px;
   position: relative;
   top: 3px;
   left: 16px;
 }

 .home .text-wrapper-10 {
   position: relative;
   width: fit-content;
   margin-top: -1px;
   font-family: "Abril Fatface-Regular", Helvetica;
   font-weight: 400;
   color: #ffffff;
   font-size: 24px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .grouped {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 4px;
   position: relative;
   flex: 0 0 auto;
 }

 .home .grouped-2 {
   display: inline-flex;
   align-items: flex-start;
   gap: 15px;
   position: relative;
   flex: 0 0 auto;
 }

 .home .text-wrapper-11 {
   position: relative;
   width: fit-content;
   margin-top: -1px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 12px;
   letter-spacing: 1.2px;
   line-height: normal;
   white-space: nowrap;
 }

 .home .rectangle {
   position: relative;
   width: 1px;
   height: 16px;
   background-color: var(--primary-white);
 }

 .home .prime-video {
   position: relative;
   width: 79px;
   height: 14px;
   margin-top: -1px;
   font-family: "Amazon Ember Display-Bold", Helvetica;
   font-weight: 700;
   color: transparent;
   font-size: 14px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .span {
   color: #00b9e7;
 }

 .home .text-wrapper-12 {
   color: #ffffff;
 }

 .home .text-wrapper-13 {
   position: relative;
   width: fit-content;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 8px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .overlap {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 99px;
   left: 0px;
 }

 .home .content-area {
   position: absolute;
   width: 1514px;
   height: 185px;
   top: 415px;
   left: 145px;
   background: linear-gradient(180deg, rgb(239, 198, 168) 0%, rgb(234, 237, 237) 100%);
 }

 .home .amazon-2 {
   position: absolute;
   width: 1514px;
   height: 415px;
   top: 0;
   left: 145px;
 }

 .home .frame-5 {
   display: inline-flex;
   align-items: flex-start;
   gap: 20px;
   position: static;
   margin-top: 231px;
   margin-left: 170px;
 }

#block-second {
  margin-top: 15px !important;
  margin-left: 170px !important;
 }


 #block-third {
  margin-top: 20px !important;
  margin-left: 170px !important;
 }

 .home .poster {
   position: relative;
   height: 420px;
   width: 350px;
   background-color: var(--primary-white);
 }

 .home .profile {
   width: 310px;
   top: 20px;
   left: 20px;
   position: absolute;
   height: 60px;
 }

 .home .profile-2 {
   width: 60px;
   top: 0;
   left: 0;
   position: absolute;
   height: 60px;
 }

 .home .text-wrapper-14 {
   position: absolute;
   width: 234px;
   height: 22px;
   top: 6px;
   left: 76px;
   font-family: "Amazon Ember-Bold", Helvetica;
   font-weight: 700;
   color: var(--primary-black);
   font-size: 18px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .text-wrapper-15 {
   position: absolute;
   width: 234px;
   height: 16px;
   top: 36px;
   left: 76px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-black);
   font-size: 13px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .text-wrapper-16 {
   position: absolute;
   width: 310px;
   height: 16px;
   top: 95px;
   left: 20px;
   font-family: "Amazon Ember-Bold", Helvetica;
   font-weight: 700;
   color: var(--primary-black);
   font-size: 13px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .grouped-3 {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
   position: absolute;
   top: 128px;
   left: 20px;
 }

 .home .frame-6 {
   display: inline-flex;
   align-items: flex-start;
   gap: 10px;
   position: relative;
   flex: 0 0 auto;
 }

 .home .element {
   position: relative;
   width: 150px;
   height: 130px;
   background-color: #f6fafb;
 }

 .home .frame-7 {
   position: relative;
   width: 126px;
   height: 104px;
   top: 14px;
   left: 12px;
 }

 .home .text-wrapper-17 {
   position: absolute;
   width: 126px;
   height: 14px;
   top: 89px;
   left: 0;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-black);
   font-size: 12px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .prime-boxes {
   position: absolute;
   width: 92px;
   height: 60px;
   top: 10px;
   left: 17px;
   object-fit: cover;
 }

 .home .group {
   position: relative;
   width: 128px;
   height: 106px;
   top: 12px;
   left: 12px;
 }

 .home .mobiles-accessories {
   position: absolute;
   width: 126px;
   height: 14px;
   top: 92px;
   left: 0;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-black);
   font-size: 12px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .oneplus-leak {
   position: absolute;
   width: 65px;
   height: 82px;
   top: 0;
   left: 31px;
   object-fit: cover;
 }

 .home .group-2 {
   position: relative;
   width: 126px;
   height: 106px;
   top: 12px;
   left: 12px;
 }

 .home .frame-8 {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   position: relative;
 }

 .home .image {
   position: relative;
   width: 68.05px;
   height: 82px;
 }

 .home .text-wrapper-18 {
   position: relative;
   width: 126px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--primary-black);
   font-size: 12px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .frame-9 {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   gap: 10px;
   position: relative;
 }

 .home .hero {
   position: relative;
   width: 101.67px;
   height: 82px;
 }

 .home .p {
   position: absolute;
   width: 310px;
   top: 19px;
   left: 20px;
   font-family: "Amazon Ember-Bold", Helvetica;
   font-weight: 700;
   color: var(--primary-black);
   font-size: 18px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .IN-PC-BAU {
   position: absolute;
   width: 310px;
   height: 249px;
   top: 94px;
   left: 20px;
   object-fit: cover;
 }

 .home .text-wrapper-19 {
   position: absolute;
   height: 14px;
   top: 374px;
   left: 20px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--secondary-blue);
   font-size: 12px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .frame-10 {
   position: relative;
   width: 350px;
   height: 420px;
 }

 .home .poster-2 {
   position: absolute;
   height: 146px;
   top: 0;
   left: 0;
   width: 350px;
   background-color: var(--primary-white);
 }

 .home .text-wrapper-20 {
   position: absolute;
   width: 310px;
   height: 32px;
   top: 55px;
   left: 20px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-black);
   font-size: 13px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .text-wrapper-21 {
   position: absolute;
   width: 311px;
   height: 14px;
   top: 107px;
   left: 20px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--secondary-blue);
   font-size: 12px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .laptops {
   position: absolute;
   width: 350px;
   height: 250px;
   top: 170px;
   left: 0;
   object-fit: cover;
 }

 .home .frame-11 {
   display: inline-flex;
   height: 444px;
   align-items: flex-start;
   gap: 40px;
   position: absolute;
   top: 782px;
   left: 155px;
 }

 .home .movie {
   position: relative;
   width: 740px;
   height: 420px;
   background-color: #ffffff;
   overflow: hidden;
 }

 .home .overlap-group {
   position: relative;
   width: 747px;
   height: 420px;
   left: -3px;
   background-image: url(./img/1231879-1.png);
   background-size: cover;
   background-position: 50% 50%;
 }

 .home .frame-12 {
   position: relative;
   width: 740px;
   height: 420px;
   left: 3px;
   background: radial-gradient(50% 50% at 50% 50%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 57.29%);
 }

 .home .text-wrapper-22 {
   position: absolute;
   width: 399px;
   top: 31px;
   left: 32px;
   font-family: "Amazon Ember-Heavy", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 21px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .home .text-wrapper-23 {
   position: absolute;
   width: 310px;
   height: 16px;
   top: 67px;
   left: 32px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 13px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .text-wrapper-24 {
   position: absolute;
   width: 310px;
   height: 16px;
   top: 371px;
   left: 32px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-white);
   font-size: 13px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .grouped-4 {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
   position: absolute;
   top: 60px;
   left: 20px;
 }

 .home .element-high {
   position: relative;
   width: 150px;
   height: 118px;
   object-fit: cover;
 }

 .home .text-wrapper-25 {
   position: relative;
   width: 150px;
   margin-top: -1px;
   font-family: "Amazon Ember-Regular", Helvetica;
   font-weight: 400;
   color: var(--primary-black);
   font-size: 13px;
   letter-spacing: 0;
   line-height: normal;
 }

 .home .text-wrapper-26 {
   position: absolute;
   height: 14px;
   top: 381px;
   left: 20px;
   font-family: "Amazon Ember-Medium", Helvetica;
   font-weight: 500;
   color: var(--secondary-blue);
   font-size: 12px;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
 }

 .footer .copilot-secure-display {
   background-color: white;
   border-style: none;
 }

 .copilot-secure-display {
   width: 100%;
   height: 120px;
 }

 .copilot-secure-display p {
   text-align: center;
   line-height: 0px;
   color: #000;
   font-size: 13px;
   margin-left: 25px;
 }

 .action-button {
  max-width: 230px;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 230px;
  display: block;
  background-position: -10px -170px;
  background-image: url(https://m.media-amazon.com/images/S/sash/vfqcwUkuArEiwD2.png);
  margin-left: 835px;
 }


 .action-button .action-inner {
   cursor: pointer;
   background-position: right -170px;
   display: block;
   height: 28px;
   position: relative;
   color: #000;
   font-size: 12px;
   line-height: 28px;
   text-align: center;
   font-weight: 700;
   text-decoration: none;
   text-shadow: 0 1px 0 #ffe093;
 }

 .action-button span {
   display: table;
   margin: 0 auto;
 }

 .sign-in-tooltip-new-customer {
  font-size: 9px;
 }


 hr {
   margin-top: 20px;
   margin-bottom: 20px;
   border: 0;
   border-top: 1px solid #eee;
   height: 0;
   box-sizing: content-box;
   display: block;
   unicode-bidi: isolate;
   margin-block-start: 2em;
   margin-block-end: 2em;
   margin-inline-start: auto;
   margin-inline-end: auto;
   overflow: hidden;
 }

 .line-bottom hr {
   margin-top: 20px !important;
 }

.navBackToTop {
  height: 49px;
  background-color: #37475A;
}

.navBackToTop p {
  text-align: center;
  color: white;
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}
.navAccessibility {
  background-color: #232F3E;
  height: 318px;
  
}

.navFooterVerticalRow  {
  display: flex;
  margin-left: 400px;
  margin-right: 400px;
}
.navFooterVerticalRow .column{
  height: 285px;
  width: 250px;
  margin-left: 80px;
  margin-top: 30px;
}

.column .colHead {
  font-weight: 700;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}

.navFooterVerticalRow .column ul {
  padding: 0;
  margin: 0;
}

.navFooterVerticalRow .column ul li {
  margin: 0 0 10px;
  list-style-type: none;
  white-space: nowrap;
  color: #DDD;
  font-family: inherit;
  text-decoration: none;
}

.navFooterPadItemLine {
  background-color: #232F3E;
  height: 140px;
  width: 100%;
}

.footer-line  hr {
  margin-block-start: -2em;
  margin-block-end: 1em;
}


.navFooterPadItemLine .navFooterLogoLine {
  text-align: center;
  max-width: 1000px;
  font-size: 12px;
  margin-left: 700px;
  margin-top: 30px;
  width: 100px;
  height: 70px; 
}

.navFooterPadItemLine .navFooterLogoLine .logo{
   width: 200px;
   height: 50px;
   margin-top: 12px;
   margin-left: 10px;
   background-image: url(/styles/images/amazon-1.png);
   background-position: 6x -170px;
  background-repeat: no-repeat;
}

.icp-container-desktop {
  vertical-align: top;
  margin: 18px auto 0;
  margin-left: 825px;
  margin-top: -82px;
  display: flex;
}

.icp-container-desktop .lang {
  flex-direction: column;
  width: 116px;
  margin-left: 61px;
  height: 33px;

}

.icp-container-desktop .lang .icp-button {
  display: inline-block!important;
  border: 1px solid #848688;
  border-radius: 3px;
  padding: 15px 111px 10px 8px;
  font-size: 13px;
  margin-right: 4px;
}

.globe-img {
  background-image: url(/styles/images/globe.png);
  background-size: 194px 295px;
}

.icp-color-base {
  color: #CCC;
  margin-left: 20px;
  word-break: unset;
}

.icp-color-base span {
  padding: 0 .6em;
}

.navFooterCopyright {
  background-color: #131A22;
  max-width: 100%;
  margin: 0;
  height: 77px;
  padding: 10px 0 30px;
}
.navFooterCopyright ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.navFooterCopyright ul li {
  color: #DDD;
  padding-left: 20px;
  font-family: inherit;
  text-decoration: none;
}

.navFooterCopyright span {
  color: #CCC;
  text-align: center;
  margin-left: 800px;
}

.footer-line-1 hr {
  margin-block-start: -2em;
  margin-block-end: 0em;
}
  
