:root {
    --secondary-yellow: rgba(244, 191, 118, 1);
    --secondary-red: rgba(177, 39, 4, 1);
    --secondary-blue: rgba(0, 113, 133, 1);
    --primary-black: rgba(24, 25, 26, 1);
    --secondary-grey: rgba(221, 221, 221, 1);
    --primary-white: rgba(255, 255, 255, 1);
    --primary-orange: rgba(241, 157, 56, 1);
    --secondary-dark: rgba(20, 25, 32, 1);
    --secondary-medium: rgba(37, 47, 61, 1);
    --secondary-orange: rgba(196, 85, 0, 1);
    --secondary-dark-grey: rgba(201, 204, 204, 1);
    --secondary-hover-orange: rgba(182, 91, 34, 1);
    --secondary-disabled-grey: rgba(86, 89, 89, 1);
    --secondary-dark-yellow: rgba(242, 167, 66, 1);
    --h1-font-family: "AmazonEmber-Bold", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 24px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "AmazonEmber-Bold", Helvetica;
    --h2-font-weight: 700;
    --h2-font-size: 22px;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h2-font-style: normal;
    --h3-font-family: "AmazonEmber-Bold", Helvetica;
    --h3-font-weight: 700;
    --h3-font-size: 18px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h4-font-family: "AmazonEmber-Bold", Helvetica;
    --h4-font-weight: 700;
    --h4-font-size: 14px;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --h4-font-style: normal;
    --body-medium-font-family: "AmazonEmber-Regular", Helvetica;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 14px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: normal;
    --body-medium-font-style: normal;
    --body-large-font-family: "AmazonEmber-Regular", Helvetica;
    --body-large-font-weight: 400;
    --body-large-font-size: 18px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: normal;
    --body-large-font-style: normal;
    --body-small-font-family: "AmazonEmber-Regular", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 12px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: normal;
    --body-small-font-style: normal;
    --shadow-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
    --shadow-large: 0px 12px 33px 0px rgba(0, 0, 0, 0.25);
  }
  